@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .display-none {
        display: none;
    }
}

#root {
    overflow: hidden;
}

.bg-primary {
    background-color: #FF6B00;
}

.bg-secondary {
    background-color: #56DFE6;
}

.color-primary {
    color: #FF6B00;
}

.color-secondary {
    color: #56DFE6;
}

.hero-video-radius {
    border-radius: 0 0 306.5px 0;
}

.mySwiper {
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.feel-like-swiper {
    width: 100%;
}

.subscription-swiper {
    /* width: 100%; */
}

.subscription-swiper .swiper-slide {
    width: auto !important;
    padding: 6px;
}

.mySwiper1 {
    width: 100%;
    padding-top: 100px !important;
}

.mySwiper2 {
    width: 100%;
    padding: 50px !important;
}

.swiper-slide {
    /* background-position: center;
    background-size: cover; */
    max-width: 600px !important;
    height: 100% !important;
    /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
}

@media screen and (max-width: 640px) {
    .mySwiper .swiper-slide {
        width: 300px !important;
    }

    .feel-like-swiper .swiper-slide {
        width: 300px !important;
    }
}

.mySwiper .swiper-slide img,
.mySwiper .swiper-slide video {
    display: block;
    /* width: 100%; */
}

@keyframes appear {
    0% {
        opacity: 0,
    }

    25% {
        opacity: 0.25
    }

    50% {
        opacity: 0.5
    }

    75% {
        opacity: 0.75
    }

    100% {
        opacity: 1
    }
}

/* .car1 {
    animation-name: appear;
    animation-duration: 20s;
    position: relative;

} */

.scrolling-text-container {
    overflow: hidden;
    /* Ensures the text is clipped within the container */
}

.scrolling-text-left {
    white-space: nowrap;
    /* Prevents wrapping of the text */
    animation: scroll-left 20s linear infinite;
    /* Adjust duration and timing function as needed */
}

.scrolling-text-right {
    white-space: nowrap;
    /* Prevents wrapping of the text */
    animation: scroll-right 20s linear infinite;
    /* Adjust duration and timing function as needed */
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
        /* Start from the right side */
    }

    100% {
        transform: translateX(-100%);
        /* Move to the left side */
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
        /* Start from the right side */
    }

    100% {
        transform: translateX(100%);
        /* Move to the left side */
    }
}

